.sidebar {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    overflow: visible;
    transition: width 0.3s ease;
    width: 25px;
    height: 100vh;
    background-color: var(--background-color-default);
    color: white;
    cursor: pointer;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li a {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 8px 20px;
    width: 100%;
    white-space: nowrap;
    transition: background-color 0.3s ease;
    color: var(--text-color-fg0);
    text-align: left;
    text-decoration: none;
    pointer-events: auto;
    box-sizing: border-box;
}

.sidebar ul li a:hover,
.sidebar ul li a:active {
    background-color: var(--background-color-medium);
}

.sidebar-content {
    position: relative;
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap;
    pointer-events: none;
}

.sidebar.expanded .sidebar-content {
    position: static;
    left: 0;
    width: 100%;
    opacity: 1;
    pointer-events: auto;
}

.sidebar::before {
    position: absolute;
    z-index: 1001;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    transition: color 0.3s ease;
    content: "»";
    color: var(--text-color-fg4);
    font-size: 20px;
    font-weight: bold;
}

.sidebar.expanded {
    width: 175px;
}

.sidebar.expanded~.main-content {
    margin-left: 175px;
}

.sidebar.expanded .sidebar-content {
    opacity: 1;
}
