.sidebar {
    width: 25px;
    background-color: var(--background-color-default);
    color: white;
    position: relative;
    transition: width 0.3s ease;
    overflow: hidden;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: var(--text-color-fg0);
    text-decoration: none;
}

.sidebar-content {
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sidebar::before {
    content: "»";
    color: var(--text-color-fg4);
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    transition: color 0.3s ease;
}


/* Expanded Sidebar */
.sidebar.expanded {
    width: 250px;
}

.sidebar.expanded .sidebar-content {
    opacity: 1;
}
